{% extends "administrator/master.html" %} {% block content %}

<center>
    <h3>Product List</h3>
</center>
<div class="col-sm-9">
    <div class="well">
        <table border="2" cellpadding="10" width="100%">
            <tr>
                <th>category name</th>
                <th>product name</th>
                <th> price</th>
                <th> detail</th>
                <th>image</th>
            </tr>
            {% for a in data %}
            <tr>
                <td>{{a.category_name}}
                </td>
                <td>{{a.product_name}}</td>
                <td>{{a.price}}</td>
                <td>{{a.details}}</td>
                <td><img src="media/{{a.image}}" style="width:100px"></td>
                <td><a href="delete1?id={{a.id}}">delete
        </td>

    </tr>
    {% endfor %}


</table>
</div>
</div>



{% endblock %}